body {
    background-color: #C6D5FF;
}
.body-div {
    width: 1820px;
    margin: 36px auto 0 auto;
}
header {
    border: 1px solid black;
}
.d-inline-block {
    display: inline-block;
}
.nav-ul {
    background-color: #EBEBEB;
    width: 539px;
    height: 63px;
    padding: 17px 0px 18px 36px;
    border-radius: 6px;
    float: right;
    margin: 17px 29px 16px;
}
.clear {
    clear: both;
}
.logo {
    width: 63.77px;
    height: 90px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-left: 30px;
}
.nav-li {
    font-size: 20px;
    margin-right: 67px;

}
.active {
    color: #A00000;
}
.cover-image {
    width: 100%;
    margin: 100px auto 0 auto;
    height: 449px;
    -o-object-fit: contain;
       object-fit: contain;
}
h2 {
    font-size: 40px;
    margin: 94px 0 60px 0;
}
.articleconteiner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 80px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 116px;
    grid-column-gap: 80px;
    margin-bottom: 135px;
}
.article-2 {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
}
.article-image1{
    width: 869px;
    height: 519px;
    -o-object-fit: contain;
       object-fit: contain;
}
.article-1 h3 {
    font-size: 25px;
    width: 686px;
    margin: 32px 0 60px 10px;
    color: #4D4F5C;
}
.article-1 p {
    width: 803px;
    font-size: 15px;
    color: #7C7C91;
    margin-bottom: 35px;
}
.article-1 a {
    color: #FF4141;
}
.article-2 img {
    width: 867px;
    height: 518px;
    -o-object-fit: contain;
       object-fit: contain;
    float: left;
    padding-right: 21px;
    padding-bottom: 30px;
}
.article-2 h3 {
    font-size: 25px;
    color: #4D4F5C;
}
.article-2 p{
    font-size: 15px;
    color: #7C7C91;
}
.footer-div {
    background-color: #7F8094;
    height: 117px;
}
.footer-icon {
    float: right;
    display: inline-block;
}
.facebook-icon{
    margin: 33px 50px 33px 0;
}

.twitter-icon {
    margin: 33px 0;
}